@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* ------------------header area------------------ */

header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: 850px;
}

.header-up > .logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.header-up ul {
    display: flex;
    gap: 30px;
}

.header-up ul li {
    list-style: none;
}

.header-up ul li a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-up ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.header-down {
    margin: auto;
    width: 850px;
    padding: 40px 0px;
}

.header-down .header-text {
    display: flex;
    width: 480px;
    flex-flow: column wrap;
    padding: 0px 20px;
}

.header-down .titulo {
    font: bold 48px "Roboto", sans-serif;
    color: #f9faf8;
}
.header-down .subtitulo {
    margin: 5px 0px 10px;
}

.header-down .btn-cadastre-se {
    padding: 5px;
    width: 100px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
}

/* ------------------information area------------------ */

.container-informations {
    width: 850px;
    display: flex;
    flex-flow: column nowrap;
}

.title-informations {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
}

.informations {
    display: flex;
    padding: 0px 0px 80px 0px;
    justify-content: space-between;
}

.info-ilustrations {
    border: 3px solid #3882f6;
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

.small-inform {
    display: flex;
    width: 130px;
    justify-content: center;
    flex-flow: row wrap;
}

/* ------------------blockquote area------------------ */

blockquote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
}